# <h1><center> WebScraping </h1>
<h1><center> Anno Accademico 2024-2025 </h1>
<h1><center>  Docente: Laura Ricci </h1>
<h1><center>  Lezione 11 </h1>
<h1><center>  HTML,  BeautifulSoup </h1>     
<h1><center> 7 Marzo 2025 </h1>

## HTML: un linguaggio di markup

* proposto nei primi anni '90  da **Tim Barnes Lee, (CERN)** per scambiare documenti su **Internet**
    * standard attuale **HTML 5: ottobre 2014**
    * non un linguaggio di programmazione, ma adatto alla definizione di contenuto testuale
* effettuare scraping implica reperire e quindi **parsare** una pagina **HTML**

## HTML: concetti di base

* i tag circondano e descrivono il contenuto
    * **tag di apertura:** nome del tag tra parentesi angolari (es. **\<body\>**)
    * **tag di chiusura:** nome con forward slash tra parentesi angolari (es. **\</body\>**)
* **attributi dei tag**:  
    * danno ulteriori informazioni sull'elemento, ad esempio riferite a come l'elemento verrà visualizzato
    * attributi possono essere proprietà da applicare all'argomento e contenute nei **CSS**, **fogli di stile**
    * sono sempre specificati all'interno del **tag di apertura**
    * coppie **nome = valore** 
* **elemento**: qualsiasi informazione compresa tra il tag di apertura e quelli di chiusura

## HTML: struttura di un elemento HTML

<img src="Figures/HTMLStructure1.jpg" style="width:800px;height:500px;"/>

## HTML: concetti di base

<img src="Figures/HTMLHEadBody.jpg" style="width:800px;height:500px;"/>

## HTML: esempi di attributi di un elemento

* il tag **\<body\>** delimita il corpo del documento
* contiene la parte che viene mostrata dal browser
* ammette diversi attributi tra cui:
    * **background =uri**, definisce l’URI di una immagine da usare come
sfondo per la pagina
    * **text =color** definisce il colore del testo
    * **bgcolor =color** in alternativa a background definisce il colore di sfondo della pagina
    * **lang =linguaggio** definisce il linguaggio utilizzato nella pagina es. language="it"

## HTML: tag di base

* tag per la strutturazione del documento   
  * paragraph: *&lt;p&gt;*
  * headers da livello 1 a livello 6: *&lt;h1&gt;,..,&lt;h6&gt;*
  * ordered e unordered lists:   &lt;ol&gt;, &lt;ul&gt;
     * &lt;li&gt;
  * tables: *&lt;table&gt;*
     * *\<th\>*
     * *\<tr\>*
     * *\<td\>*
* hyperlink verso altri documenti **HTML**
     * anchor tag &lt;a&gt;: &lt;a href="https://www.w3schools.com" Web 3 </a>&gt;
* tag per inserire contenuto multimediale/fragmenti di programma, esempio immagini
     * *\<img\>*

## HTML: \<p\>, \<div\>, \<span\>

* sono **contenitori di testo**
    * **block level element**  occupano il 100% dell'elemento che li contiene
    * **inline element** occupano lo spazio necessario per l'elemento che contengoni
* si comportano in modo diverso:
  * **\<p\>** è un **block level element** e lascia spazio prima e dopo la propria chiusura
  * **\<div\>** 
      * è un **block level element**, non lascia spazio prima e dopo la propria chiusura, ma va a capo
      * consente di raggruppare parti del documento (ad esempio più pargrafi ed applicare a tutti una regole di stile)
  * **\<span\>** è  **inline element**  e quindi non va a capo

## HTML: \<p\>, \<div\>, \<span\>

<img src="Figures/BlockInline.jpg" style="width:1000px;height:500px;"/>

## **HTML: Liste**

* il tag **\<ul\>** (unordered list) permette di definire **liste non ordinate (puntate)**
* gli elementi della lista vengono definiti mediante il tag **\<li\> (list item)**
* l’attributo type definisce la forma dei punti della lista
* analogo per altri tipi di liste (non ordinate, di definizione)

<center>
<img src="Figures/UnorderedLists.jpg" style="width:600px;height:400px;"/>

## HTML: Tabelle

* tag **\< table\>** contiene la tabella
* diversi **attributi** per definire le caratteristiche della tabella
* **\<tr\>** è il tag che racchiude ciascuna riga della tabella
* **\<th\>** e **\<td\>** sono i tag che racchiudono le celle
  * **\<th\>** serve per le celle della testata
  * **\<td\>** serve per le celle del contenuto

<center>
<img src="Figures/TableHTML.jpg" style="width:500px;height500px;"/>

## Tutti i tag in un documento

<img src="Figures/BurgerhubDef.jpg" style="width:1100px;height:700px;"/>

## BeautifulSoup: "trying to organize the complexity"

<center>
<img src="Figures/Soup.jpg" style="width:600px;height:400px;"/>

## BeautifulSoup

* una libreria Python per **parsare HTML**
    * non parte della libreria standard: installare con **pip install**
    
* rappresenta una pagina **HTML** come una struttura ad albero
    * questa struttura logica prende il nome di **DOM: Document Object Model**
    * quando un browser carica una pagina HTML la scompone e costruisce la struttura ad albero del DOM
    * la stessa operazione viene effettuata da **BeaytifulSoup** sulla pagina che analizza

## BeautifulSoup

<center>
<td> <img src="Figures/HTMLTree1.jpg" style="width:800px;height:500px;"/>

## Parsare un documento HTML con BeautifulSoup

<img src="Figures/HTML1.jpg" style="width:800px;height:400px;"/>

## Parsare un documento HTML con BeautifulSoup

In [1]:
from bs4 import BeautifulSoup
small_example_html = """ 
         <!DOCTYPE html>
         <html>
            <body>
               <p> Click <a id='info' href='http://www.example.com'>here</a>
                   for more information.
                </p>
            </body>
          </html>"""
small_soup = BeautifulSoup(small_example_html, 'html.parser')
print(type(small_soup))
print(small_soup.prettify())

<class 'bs4.BeautifulSoup'>
<!DOCTYPE html>
<html>
 <body>
  <p>
   Click
   <a href="http://www.example.com" id="info">
    here
   </a>
   for more information.
  </p>
 </body>
</html>

## BeautifulSoup

* la classe **bs4.BeautifulSoup** accetta due parametri per il suo costruttore
    * una stringa che rappresenta il codice **HTML**
    * il tipo di parser che si intende utilizzare per effettuare il parsing della pagina
        * il parametro parser tecnicamente è un argomento di tipo **keyword**, ma viene sollevato un warning se non viene specificato
        * **html.parser** è il **parser standard**, non richiede una installazione "ad hoc" 
* altre opzioni
    * **lxml**, parser etremamente veloce scritto in C, richiede una installazione apposita
    * **html5lib**, parser meno efficiente, ma simula molto bene il comportamento di un web browser, permettendo di parsare anche
    documenti **HTML** estremamente complessi, ma un pò più meno efficiente

## Tipi di dato in BeautifulSoup

* **BeautifulSoup** object
    * rappresenta **tutto l'albero** risultante dal parsing di un documento **HTML**
* **Tag** object
    * rappresenta un qualsiasi tag **HTML** del documeto 
    * molte proprietà e metodi associati: nome del tag, attributi,...
* **NavigableString** object
    * rappresentano il testo all'interno di un **tag**, piuttosto che il tag stesso
* **Comment** object
    * HTML comments
    * poco utili per lo scraping

## Parsare un documento con BeautifulSoup

* a partire dal documento **HTML**, BeautifulSoup crea un **parse tree** 
* può ricercare contenuti nell'albero parsato
* **ricerca per posizione** 
  * navigare sull'albero utilizzando funzioni per passare ai figli di un nodo o al padre di un nodo
* **ricerca per contenuto** 
  * ricercare contenuti basandosi sul nome dei tag e sui loro attributi

## Ricerca per contenuto

<code>
findAll(tag, attribute, recursive, text, limit, keywords)
find(tag, attribute, recursive, text,  keywords)
</code>

* applicato ad un oggetto di tipo **BeautifulSoup**
* **tag** una stringa che è il nome di un tag, oppure una lista di tag 
* **attributes** un dizionario Python che individua un insieme di attributi del tag selezionato
* **recursive** valore **booleano**
   * se **Falso** si ricercano solo i tag al livello più alto nell'albero del documento, altrimenti
      la ricerca è ricorsiva
   * per default settato a **True**
* **text**  si cerca un match basato sul campo text del tag, piuttosto che attraverso le proprietà del tag
* **limit** indica il numero massimo di match che devono essere restituiti
* **keyword** selezione di tag con un particolare attributo (stesso effetto usando gli attributi)

## Navigare l'albero 

<td> <img src="Figures/ThreeLittlePigs.jpg" style="width:1000px;height:500px;"/>

* sulla sinistra il sorgente **HTML**, sulla destra  la visualizzazione del documento
* notare la presenza di attributi di tipo **class**, riguardano la tecnologia **CSS**, di cui parleremo in seguito
* comunque, dal punto di vista dello scraping, è un attributo che può identificare un **tag**

## Ricerca per contenuto: tag unico

In [2]:
pig_html = """
<html><head><title>Three Little Pigs</title></head>
     <body>
       <p class="title"><b>The Three Little Pigs</b></p>
       <p class="story"> Once upon a time, there were three little pigs named
       <a href="http://example.com/larry" class="pig" id="link1">Larry,</a>
       <a href="http://example.com/mo" class="pig" id="link2">Mo</a>, and
       <a href="http://example.com/curly" class="pig" id="link3">Curly.</a>
       <p>The three pigs had an odd fascination with experimental construction.</p>
       <p>...</p>
    </body>
</html>
"""
pig_soup = BeautifulSoup(pig_html, "html.parser")
# Find the first <b> tag in the soup.
pig_soup.find(name='b')

## Ricerca per contenuto: tag ripetuto

In [3]:
# Find all tags with a class attribute of 'pig'.
# Since 'class' is a Python keyword, use 'class_' as the argument.
pig_html = """
<html><head><title>Three Little Pigs</title></head>
     <body>
       <p class="title"><b>The Three Little Pigs</b></p>
       <p class="story"> Once upon a time, there were three little pigs named
       <a href="http://example.com/larry" class="pig" id="link1">Larry,</a>
       <a href="http://example.com/mo" class="pig" id="link2">Mo</a>, and
       <a href="http://example.com/curly" class="pig" id="link3">Curly.</a>
       <p>The three pigs had an odd fascination with experimental construction.</p>
       <p>...</p>
    </body>
</html>
"""

p=pig_soup.find_all(class_="pig")
print(type(p))
p

<class 'bs4.element.ResultSet'>

[<a class="pig" href="http://example.com/larry" id="link1">Larry,</a>,
 <a class="pig" href="http://example.com/mo" id="link2">Mo</a>,
 <a class="pig" href="http://example.com/curly" id="link3">Curly.</a>]

## Ricerca per contenuto: attributi

In [4]:
# Find the first tag that matches several attributes.
pig_html = """
<html><head><title>Three Little Pigs</title></head>
     <body>
       <p class="title"><b>The Three Little Pigs</b></p>
       <p class="story"> Once upon a time, there were three little pigs named
       <a href="http://example.com/larry" class="pig" id="link1">Larry,</a>
       <a href="http://example.com/mo" class="pig" id="link2">Mo</a>, and
       <a href="http://example.com/curly" class="pig" id="link3">Curly.</a>
       <p>The three pigs had an odd fascination with experimental construction.</p>
       <p>...</p>
    </body>
</html>
"""
pig_soup.find(attrs={"class": "pig", "href": "http://example.com/mo"})

## Ricerca per contenuto: testo

In [5]:
# Find the first tag that matches several attributes.
pig_html = """
<html><head><title>Three Little Pigs</title></head>
     <body>
       <p class="title"><b>The Three Little Pigs</b></p>
       <p class="story"> Once upon a time, there were three little pigs named
       <a href="http://example.com/larry" class="pig" id="link1">Larry,</a>
       <a href="http://example.com/mo" class="pig" id="link2">Mo</a>, and
       <a href="http://example.com/curly" class="pig" id="link3">Curly.</a>
       <p>The three pigs had an odd fascination with experimental construction.</p>
       <p>...</p>
    </body>
</html>
"""

pig_soup.find(string='Mo')

'Mo'

## Scraping di liste di elementi

In [6]:
list_example_html="""<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Lists and Hyperlinks</title>
    </head>
    <body>
      <h1>Lists and Hyperlinks</h1>
      <p>There are two types of <em>lists</em> in HTML:</p>
      <ol>
        <li>Ordered List.</li>
        <li>Unordered List.</li>
      </ol>
      <p>This is a list of cryptoservices:</p>
        <li>List Crypto-Services:
            <li>CoinGecko @ <a href="https://www.coingecko.com/">https://www.coingecko.com/</a>.</li>
            <li>Blockchain.com @ <a href="https://www.blockchain.com/">https://www.blockchain.com//</a>.</li>
            <li>WalletExplorer @ <a href="https://www.walletexplorer.com/">https://www.walletexplorer.com/</a>.</li>
            <li>CoinMarketCup @ <a href="https://coinmarketcap.com/">https://coinmarketcap.com//</a>.</li>
        </li>
</body>
</html>"""

## Scraping di  liste di elementi

In [7]:
from bs4 import BeautifulSoup
# Parse the html content
soup = BeautifulSoup(list_example_html, "lxml")
 # Find all li tag
datas = soup.find_all("li")
print(type(datas))
 # Iterate through all li tags
for data in datas:
    # Get text from each tag
    print(data.text)
print(f"Total {len(datas)} li tag found")

<class 'bs4.element.ResultSet'>
Ordered List.
Unordered List.
List Crypto-Services:

CoinGecko @ https://www.coingecko.com/.
Blockchain.com @ https://www.blockchain.com//.
WalletExplorer @ https://www.walletexplorer.com/.
CoinMarketCup @ https://coinmarketcap.com//.
Total 7 li tag found

## Scraping di Tabelle

<center>
<img src="Figures/Table.jpg" style="width:500px;height:200px;"/>

## Scraping di Tabelle

In [8]:
table_doc = """
<table class="table-1">
  <tr>
    <th>Corso</th>
    <th>Laurea</th>
    <th>Numero Studenti</th>
  </tr>
  <tr>
    <td>Laboratorio Web Scraping</td>
    <td>Informatica</td>
    <td>20</td>
  </tr>
  <tr>
    <td>Blockchains</td>
    <td>Magistrale Informatica</td>
    <td>40</td>
  </tr>
</table> """

## Scraping di Tabelle

* trovare il tag **table** all'interno del documento
* effettuare una ricerca ricorsiva a partire da quel tag, sulle righe della tabella
* **find_all** si può applicare anche a oggetti di tipo **tag**
    * prima mi posiziono su un **tag** e poi proseguo con il sottoalbero

## Scraping di Tabelle

In [9]:
from bs4 import BeautifulSoup
import requests 
# first we should find our table object:
soup = BeautifulSoup(table_doc,'html.parser')
table = soup.find('table')
# then we can iterate through each row and extract either header or row values:
header = []
rows = []
print(type(table.find_all('tr')))
for i, row in enumerate(table.find_all('tr')):
    if i == 0:
        header = [el.text.strip() for el in row.find_all('th')]
    else:
        rows.append([el.text.strip() for el in row.find_all('td')])

print(header)
for row in rows:
    print(row)

<class 'bs4.element.ResultSet'>
['Corso', 'Laurea', 'Numero Studenti']
['Laboratorio Web Scraping', 'Informatica', '20']
['Blockchains', 'Magistrale Informatica', '40']

## La funzione enumerate

* aggiunge un contatore a ogni elemento in una lista o in un altro iterabile. 
* ogni elemento viene associato al suo numero (che parte da 0 per impostazione predefinita).
* possibile trasformarlo in una lista di coppie (numero, elemento) utilizzando list().

In [32]:
a = ["WebScraping", "Blockchain", "PeertoPeer"]
print(type(enumerate(a)))
for i, name in enumerate(a):
    print(f"Index {i}: {name}")
print(list(enumerate(a)))

Index 0: WebScraping
Index 1: Blockchain
Index 2: PeertoPeer
<class 'enumerate'>
[(0, 'WebScraping'), (1, 'Blockchain'), (2, 'PeertoPeer')]

## Usare il Browser come strumento di sviluppo: https://en.wikipedia.org/w/index.php?title=List_of:Gam_of_thrones_episodes&oldid=802553687,

<img src="Figures/GameOfThrones.png" style="width1000px;height:500px;"/>

## Il browser come strumento di sviluppo: View Source

<img src="Figures/GameOfThronesSource.png" style="width2000px;height:900px;"/>

## Il browser come strumento di sviluppo: Developer Tool

* aprire il menù di **Chrome** e poi **More Tools**, **Developer Tools**
* in alternativa: **right click** sulla pagine  e selezioneare **Inspect Element**
* altri browser come **Firefox** o **Microsoft Edge** hanno strumenti simili

<img src="Figures/ChromeDeveloperTool.png" style="width1000px;height:600px;"/>

## Il browser come strumento di sviluppo: il tag "Elements"

* utilizzare questo tag per passare il mouse sopra gli elementi HTML 
* per ogni elemento così individuato il browser visualizza una finestra trasparente sul corrispondente elemento sulla rappresentazione visuale della pagina
* alternativamente, cliccare su un elemento della pagina web con il tasto destro e selezionare **Inspect element**

<img src="Figures/Elements.png" style="width1000px;height:600px;"/>

## Confrontare tag Elements verso View Source

* **View Source**: una visione "raw" del documento **HTML**
    * restituisce il codice **HTML** così come restituito dal web server
    * restituisce lo stesso codice restituiro da **r.text**, di *request**
* **Element tab**: visione più strutturata del dicumento **HTML**
    * restitusice una **versione pulita** del documento
    * **overlapping tags** risolti
    * rimozione di spazi bianchi
    * versione dinamica della pagina: riporta la pagina dopo l'eventuale esecuzione di codice **JAVA Script**

## First Scraping example: Scraping Game of Thrones

In [12]:
import requests
from bs4 import BeautifulSoup
url = 'https://en.wikipedia.org/w/index.php?title=List_of:Gam_of_thrones_episodes&oldid=802553687'
r = requests.get(url)
html_contents = r.text
html_soup = BeautifulSoup(html_contents, 'html.parser')
first_h1 = html_soup.find('h1')
print(str(first_h1))
print(first_h1.name) 
print(first_h1.contents)

<h1 class="firstHeading mw-first-heading" id="firstHeading">List of <i>Game of Thrones</i> episodes</h1>
h1
['List of ', <i>Game of Thrones</i>, ' episodes']

## First Scraping example: Scraping Game of Thrones

In [13]:
print(first_h1.text) # List of Game of Thrones episodes
print(first_h1.get_text()) # Does the same
print(first_h1.attrs)

List of Game of Thrones episodes
List of Game of Thrones episodes
{'id': 'firstHeading', 'class': ['firstHeading', 'mw-first-heading']}

## First Scraping example: Scraping Game of Thrones, Attributi

In [14]:
print(first_h1.attrs['id']) # firstHeading
print(first_h1['id']) # Does the same
print(first_h1.get('id')) # Does the same

firstHeading
firstHeading
firstHeading

## First Scraping example: Scraping Game of Thrones

In [17]:
print('------------ CITATIONS ------------')
# Find the first five cite elements with a citation class
cites = html_soup.find_all('cite', limit=5)
for citation in cites:
    print(citation.get_text())
    # Inside of this cite element, find the first a tag
    link = citation.find('a')
    print(link.text)

------------ CITATIONS ------------
Fowler, Matt (April 8, 2011). "Game of Thrones: "Winter is Coming" Review". IGN. Archived from the original on August 17, 2012. Retrieved September 22, 2016.
"Game of Thrones: "Winter is Coming" Review"
Fleming, Michael (January 16, 2007). "HBO turns Fire into fantasy series". Variety. Archived from the original on May 16, 2012. Retrieved September 3, 2016.
"HBO turns Fire into fantasy series"
"Game of Thrones". Emmys.com. Retrieved September 17, 2016.
"Game of Thrones"
Roberts, Josh (April 1, 2012). "Where HBO's hit 'Game of Thrones' was filmed". USA Today. Archived from the original on April 1, 2012. Retrieved March 8, 2013.
"Where HBO's hit 'Game of Thrones' was filmed"
Schwartz, Terri (January 28, 2013). "'Game of Thrones' casts a bear and shoots in Los Angeles for major Season 3 scene". Zap2it. Archived from the original on October 16, 2013. Retrieved March 8, 2013.
"'Game of Thrones' casts a bear and shoots in Los Angeles for major Season 3 scene"

## Assignment 10: Correzione

* considerare il **Data Set** dei giocatori di basket
* indicare due modi diversi per impostare l'indice del DataFrame  al nome del giocatore
* calcolare il numero di giocatori per ogni Team
* chi sono i 5 giocatori più pagati?
* chi è il giocatore più vecchio dei New York Knicks?

## Importare il DataFrame

In [3]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
pd.read_csv("DataSets/nba.csv", parse_dates = ["Birthday"])

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

## Indicare due modi diversi per impostare l'indice del DataFrame  con il  nome del giocatore

In [6]:
nba = pd.read_csv(
             "DataSets/nba.csv", index_col = "Name", parse_dates = ["Birthday"]
        )
nba.head()

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

## Indicare due modi diversi per impostare l'indice del DataFrame  con il  nome del giocatore

In [9]:
nba=nba.setIndex("Name")

AttributeError: 'DataFrame' object has no attribute 'setIndex'

## Indicare due modi diversi per impostare l'indice del DataFrame  con il  nome del giocatore

In [12]:
nba.head()
nba_rs=nba.reset_index()
nba_rs.head()

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

## Indicare due modi diversi per impostare l'indice del DataFrame con il nome del giocatore

In [15]:
nba_rs=nba_rs.set_index("Name")
nba_rs

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

## Calcolare il numero di giocatori per ogni Team

In [18]:
nba.Team.value_counts()

Team
Philadelphia 76ers        17
Minnesota Timberwolves    17
Utah Jazz                 17
Brooklyn Nets             17
Toronto Raptors           16
Boston Celtics            16
Chicago Bulls             16
Detroit Pistons           16
New York Knicks           16
New Orleans Pelicans      16
Los Angeles Lakers        16
Charlotte Hornets         16
Atlanta Hawks             15
Denver Nuggets            15
Memphis Grizzlies         15
Phoenix Suns              15
Sacramento Kings          15
Miami Heat                15
Golden State Warriors     15
Los Angeles Clippers      14
Washington Wizards        14
Portland Trail Blazers    14
Milwaukee Bucks           14
Houston Rockets           14
San Antonio Spurs         14
Dallas Mavericks          13
Oklahoma City Thunder     13
Orlando Magic             13
Cleveland Cavaliers       13
Indiana Pacers            13
Name: count, dtype: int64

## Calcolare il numero di giocatori per ogni Team

In [21]:
nba["Team"].value_counts()

Team
Philadelphia 76ers        17
Minnesota Timberwolves    17
Utah Jazz                 17
Brooklyn Nets             17
Toronto Raptors           16
Boston Celtics            16
Chicago Bulls             16
Detroit Pistons           16
New York Knicks           16
New Orleans Pelicans      16
Los Angeles Lakers        16
Charlotte Hornets         16
Atlanta Hawks             15
Denver Nuggets            15
Memphis Grizzlies         15
Phoenix Suns              15
Sacramento Kings          15
Miami Heat                15
Golden State Warriors     15
Los Angeles Clippers      14
Washington Wizards        14
Portland Trail Blazers    14
Milwaukee Bucks           14
Houston Rockets           14
San Antonio Spurs         14
Dallas Mavericks          13
Oklahoma City Thunder     13
Orlando Magic             13
Cleveland Cavaliers       13
Indiana Pacers            13
Name: count, dtype: int64

## Chi sono i 5 giocatori pù pagati?

In [26]:
nba.sort_values("Salary", ascending = False).head()

                                    Team Position   Birthday    Salary
Name
Stephen Curry      Golden State Warriors       PG 1988-03-14  40231758
Chris Paul         Oklahoma City Thunder       PG 1985-05-06  38506482
Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482
James Harden             Houston Rockets       PG 1989-08-26  38199000
John Wall             Washington Wizards       PG 1990-09-06  38199000

 ## Chi è il giocatore più vecchio dei New York Knicks?

In [27]:
nba = nba.reset_index().set_index(keys = "Team")
nba.head()

                              Name Position   Birthday   Salary
Team
Philadelphia 76ers    Shake Milton       SG 1996-09-26  1445697
Detroit Pistons     Christian Wood       PF 1995-09-27  1645357
Charlotte Hornets    PJ Washington       PF 1998-08-23  3831840
Detroit Pistons       Derrick Rose       PG 1988-10-04  7317074
Philadelphia 76ers   Marial Shayok        G 1995-07-26    79568

 ## Chi è il giocatore più vecchio dei New York Knicks?

In [28]:
nba_nyk=nba.loc["New York Knicks"].head()
nba_nyk

                             Name Position   Birthday    Salary
Team
New York Knicks     Marcus Morris       PF 1989-09-02  15000000
New York Knicks    Damyean Dotson       SG 1994-05-06   1618520
New York Knicks  Ignas Brazdeikis       SF 1999-01-08    898310
New York Knicks         Ivan Rabb       PF 1997-02-04     79568
New York Knicks        Kevin Knox       PF 1999-08-11   4380120

In [29]:
nba_nyk.loc["New York Knicks"].sort_values("Birthday").head(1)

                          Name Position   Birthday    Salary
Team
New York Knicks  Marcus Morris       PF 1989-09-02  15000000

## Assignment 12

* analizzare la pagina **Wikipedia** di **Game_of_Thrones**, utilizzando gli strumenti disponibili sul vostro browser
* la pagina contiene un insieme di tabelle che contengono una lista degli episodi, riportando per ciascuno, chi ha diretto l'episodio, chi lo ha scritto, la data di rilascio, il numero di  richieste di streaming dell'episodio
* scaricare la pagina e quindi, mediante, scraping, trovare i dati di tutti gli episodi e stamparli