###### <h1><center> Laboratorio di WebScraping </h1>
<h1><center> Anno Accademico 2024-2025 </h1>
<h1><center>  Docente: Laura Ricci </h1>
<h1><center>  Lezione 18 </h1> 
<h1><center>  Bitcoin Assignments </h1>  
<h1><center> 9 Aprile 2025 </h1>

## Assignment: analisi delle transazioni nei primi due anni di Bitcoin

* si consideri il dataset allegato a questo assignment, che contiene l'astrazione di un insieme di  transazioni di **Bitcoin**, 

* il dataset 
    * contiene transazioni registrate sulla blockchain a partire dal **blocco genesis** fino al blocco di altezza **100,001**
    * è stato leggermente modificato rispetto al contenuto della blockchain originale, ed alcune transazioni sono state rimosse, 
     ma per il resto contiene transazioni reali, per cui i risultati ottenuti daranno alcune informazioni concrete sul   comportamento  degli utenti su Bitcoin  nei primi due anni di vita della criptomoneta
* il dataset contiene 4 file **CSV**
    * **Transactions**
    * **Inputs**
    * **Outputs**
    * **Dates**

## Struttura delle transazioni di Bitcoin

<center>
<img src="Figures/BitcoinTransactions.jpg" style="width:1200px;height:500px;"/>

## Analisi delle transazioni dei primi due anni di Bitcoin

<center>
<img src="Figures/BitcoinTables.jpg" style="width:700px;height:600px;"/>

## Analisi delle transazioni nei primi due anni di Bitcoin: transazioni

* analizziamo una transazione: quali campi sono stati eliminati? quali astrazioni sono state fatte?

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
transactions = pd.read_csv('Dataset/Bitcoin/transactions.csv', names=['tx_id', 'blk_id'])
transactions.head()
transactions.tail()

         tx_id  blk_id
216621  216622  100016
216622  216623  100016
216623  216624  100016
216624  216625  100016
216625  216626  100017

## Analisi delle transazioni nei primi due anni di Bitcoin: transazioni

* molto dei metadati sono stati eliminati
    * **ver**: versione del protocollo
    * **vin_sz**: dimensione degli input
    * **vout_size**: dimensione degli output 
    * **lock_time**: timestamp dopo il quale la transzione può essere inserita nella blockchai
    * **size**: dimensione in byte della transzione
* astrazioni: 
    * il campo **hash** è stato astratto con un identificatore **unico, tx_id**
* campi aggiunti
    * identificatore del blocco in cui la transazione è stata inserita (implicito nelle blockchain reale)
* ma dove sono finiti gli input e gli output della transazione?

## Analisi delle transazioni nei primi due anni di Bitcoin: input

* ricordiamo: 
    * ogni input ha un riferimento all'output che spende, che è contenuto in una transazione precedente
    * contiene l'hash della transazione precedente e la posizione dell'output all'interno della transazione precednete
* dove sono finiti gli input delle transazioni?
    * nel file **input**!

## Analisi delle transazioni nei primi due anni di Bitcoin: input

In [3]:
inputs = pd.read_csv('Dataset/Bitcoin/inputs.csv',names=['in_id', 'tx_id', 'sig_id', 'output_id'])
inputs

         in_id   tx_id  sig_id  output_id
0            1       1       0         -1
1            2       2       0         -1
2            3       3       0         -1
3            4       4       0         -1
4            5       5       0         -1
...        ...     ...     ...        ...
292422  292423  216622   95854     258874
292423  292424  216623  161394     247315
292424  292425  216624  173913     263227
292425  292426  216625  174188     263611
292426  292427  216626       0         -1

[292427 rows x 4 columns]

## Analisi delle transazioni nei primi due anni di Bitcoin: input

* una riga per qualsiasi input che appare in una qualsiasi delle transazioni del dataset
* per ogni input 
    * un identificatore unico di quell'input **in_id**
    * l'identificatore della transazione in cui appare quell'input **tx_id**
    * **sig_id**, astrae la firma presente nello script **scriptSig** con un identificatore, vale 0 se quello è l'input di una           **coinbase**, -1 se viene utilizzato uno script **non standard**
    * l'identificatore unico dell'output che quell'input sta spendendo **ouput_id**, -1 se coinbase

## Analisi delle transazioni nei primi due anni di Bitcoin: output

* ricordiamo: 
    * ogni output ha un valore, il valore in criptomoneta che viene "speso" su quell'output
    * contiene uno script che contiene la chiave pubblica a cui è spedito quell'ouput

## Analisi delle transazioni nei primi due anni di Bitcoin: output

In [4]:
outputs = pd.read_csv('Dataset/Bitcoin/outputs.csv', names=['output_id', 'tx_id', 'pk_id', 'value'])
print(outputs.head())
print(outputs.tail())

   output_id  tx_id  pk_id       value
0          1      1      1  5000000000
1          2      2      2  5000000000
2          3      3      3  5000000000
3          4      4      4  5000000000
4          5      5      5  5000000000
        output_id   tx_id   pk_id       value
264305     264306  216623  174700     1000000
264306     264307  216623  174701   299000000
264307     264308  216624  167815     1000000
264308     264309  216625  174695     1200000
264309     264310  216626  174701  5000000000

## Analisi delle transazioni nei primi due anni di Bitcoin: output

* una riga per qualsiasi output
* per ogni output
    * **out_id** un identificatore unico dell'output
    * **tx_id** l'identificatore della transazione a cui quell'output appartiene 
    * l'identificatore della chiave pubblica **pk_id** usata nello script **ScriptPubKey**, 
      che codifica le condizioni che devono essere verificate affinchè quell'output possa essere speso
      vale -1 se viene usato uno scrpt non standars
    * il valore speso sull'output di quella transazione

## Analisi delle transazioni nei primi due anni di Bitcoin: timestamp

In [5]:
dates = pd.read_csv('Dataset/Bitcoin/dates.csv')
print(dates.head())
print(dates.tail())

   block_id                 time
0         0  2009-01-03 18:15:05
1         1  2009-01-09 02:54:25
2         2  2009-01-09 02:55:44
3         3  2009-01-09 03:02:53
4         4  2009-01-09 03:16:28
        block_id                 time
100013    100013  2010-12-29 13:17:01
100014    100014  2010-12-29 13:32:38
100015    100015  2010-12-29 13:36:10
100016    100016  2010-12-29 13:39:01
100017    100017  2010-12-29 13:44:06

## Assignment: analisi delle transazioni dei primi due anni di Bitcoin

* controllare se esistono blocchi o transazioni invalide nel dataset ed eventualmente rimuoverli/e
* calcolare le seguenti statistiche
    * distribuzione dei blocchi: numero di transazioni per ogni blocco, considerando l'intero periodo di tempo e per mese
    * distribuzione delle fee spese in ogni transazione nell'intero periodo
    * quanti UXTO esistono, al momento del mining dell'ultimo blocco del data set?
    * quale è l'UXTO a cui è associato il valore più alto?
    * trovare tutte le transazioni generate tra due date
* proporre almeno una analisi non compresa tra le precedenti