#### <h1><center> WebScraping </h1>
<h1><center> Anno Accademico 2024-2025 </h1>
<h1><center>  Docente: Laura Ricci </h1>
<h1><center>  Lezione 5 </h1>
<h1><center>    La libreria Pandas: Series </h1>
<h1><center> 12 Febbraio 2025 </h1>

## Assignment 2: Dizionari e liste

* definire una lista contenente 5 dizionari: ogni dizionario contiene due coppie chiave-valore, nome ed età (in anni), di una persona
* utilizzare il meccanismo della list comprehension per produrre una lista di dizionari in cui ogni dizionario
contiene 3 coppie chiave valore, il nome e l'età originari e l'**età in mesi**
* i dizionari della nuova lista dovranno includere solo le persone che **hanno più di 20 anni**

In [1]:
people = [ {"nome": "Sara", "età": 28}, {"nome": "Matteo", "età": 15}, 
          {"nome": "Emilia", "età": 6}, {"nome": "Maria", "età": 55}, 
          {"nome": "Giovanni", "età": 18} ]
people_month = [{"nome": x["nome"], "età": x["età"], "età_mesi": x["età"]*12} for x in people if x["età"] > 20]
people_month

[{'nome': 'Sara', 'età': 28, 'età_mesi': 336},
 {'nome': 'Maria', 'età': 55, 'età_mesi': 660}]

## Assignment 2: Dizionari e liste

In [2]:
def age_in_months(mylist):
    return [dict(one_person.items(), età_in_mesi=one_person['età'] * 12)
            for one_person in mylist
            if one_person['età'] > 20]

people_months = age_in_months(people)
people_months

[{'nome': 'Sara', 'età': 28, 'età_in_mesi': 336},
 {'nome': 'Maria', 'età': 55, 'età_in_mesi': 660}]

## Assignment 3: figli e nipoti

* Definire un dizionario che rappresenta i figli e nipoti appartenenti ad una famiglia: la chiave è il nome di un figlio F e 
il valore corrispondente è una lista di stringhe che rappresentano i figli di F
    * ad esempio il dizionario {'A':['B','C','D'], 'E':['F','G']} indica che 'A' ed 'E' sono fratelli, 
che i figli di 'A' sono 'B','C', e 'D' e che i figli di 'E' sono 'F' e 'G'. 
* Utilizzare il meccanismo della list comprehension per creare una lista con i nomi di tutti i nipoti.

In [3]:
def grandchildren_names(d):
    return [one_grandchild
            for grandchild_list in d.values()
            for one_grandchild in grandchild_list]

## Assignment 3: figli e nipoti

In [4]:
Dict={'Maria':['Paola', 'Anna', 'Giovanni'], 'Laura':['Matteo, Mario']}
grandchildren_names(Dict)

['Paola', 'Anna', 'Giovanni', 'Matteo, Mario']

## Assignment 4: vocali in stringhe

* è data una stringa contenente diverse parole seprate da uno spazio
* creare un dizionario in cui le chiavi siano le parole e i valori il numero di vocali in ogni parola
* ad esempio se la stringa è la seguente "this is an easy test" allora il dizionario risultante sarà 
{'this':1, 'is':1, 'an':1, 'easy':2, 'test':1}

In [5]:
def vowel_count(word):
    total = 0
    for one_letter in word.lower():
        if one_letter in 'aeiou':
            total += 1
    return total

## Assignment 4: vocali in stringhe

In [6]:
def word_vowels(s):
    return {one_word: vowel_count(one_word)
            for one_word in s.split()}
word_vowels('this is an easy test')

{'this': 1, 'is': 1, 'an': 1, 'easy': 2, 'test': 1}

## Pandas
* libreria open source per la **data analysis** costruita su **Python** e altre librerie
* utilizza routines C per la realizazzione efficace di molte funzionalità
* compatibile con **Excel** e **Google's sheets**
* come in questi framework, *Pandas* permette di interagire con dati rappresentati come *tabelle*, formate da righe e da colonne
* offre diverse funzionalità per lavorare su queste strutture
    * indexing
    * sorting,
    * filtering
    * cleaning
    * aggregating
    * pivoting
    * joining
    * deduping

## Pandas

* offre anche la possibilità di *caricare* e *salvare* dati in formati tabulari "standard"
     * **CSV** (Comma-separated Values)
     * **TSV** (Tab-seprated values)
     * File **Excel**
     * Formati database
     *...
* operazioni numeriche e statistiche efficienti
* primitive di visualizzazione applicabili direttamente a strutture *Pandas*

## Pandas: la gerarchia dei moduli

<center>
<img src="Figures/Hierarchy.jpg" style="width:600px;height:600px;"/>

## Pandas: Tipi di dato
* due tipi di dati principali
    * le **Series** rappresentano dati *1D*: ottime per rappresentare sequenze temporali
    * i **Data Frame** reppresentano dati *2D* come un file csv, una tabella di un database, ...
* quale è la relazione tra i due?
    * ogni colonna di un *DataFrame* è una *Series*
* lavoreremo con entrambe le strutture esaminando  data-set reali

<center>
<img src="Figures/Series.jpg" style="width:500px;height:300px;"/>

## Le Series

* struttura monodimensionale 
    * una sequenza **ordinata** di valori
    * dati omogenei
*è possibile assegnare ad ogni valore contenuto in una **Series**
    * una label, ovvero un **label index** utilizzato per localizzare un elemento
    * la **posizione** dell'elemento nella serie (il primo elemento ha indice 0), ovvero un **position index**
* quale e' l'idea di base?
    * combinare caratteristiche di **liste** e di **dizionari**
    * come in una lista, gli elementi sono accessibili per indice 
    * come in un dizionario si può accedere ad un elemento usando la label

## Le Series

In [7]:
import numpy as np
import pandas as pd
from pandas import Series 
Series()

Series([], dtype: object)

* **pd.Series** è una classe della libreria Pandas
* invocando **pd.Series()** invoco il costruttore e creo un oggetto di quella classe, vuoto
* posso creare una Serie partendo da qualsiasi iterable, utilizzando come parametro del costruttore
* poichè non ho inserito elementi, Pandas per default assegna un tipo degli elementi uguale a **object**

## Le Series: creazione a partire da iterable

* creare una serie di 10 elementi. 
* ogni elemento contiene la valutazione, in trentesimi, di una prova sostenuta mensilmente da uno studente,
in ogni mese tra **Settembre** e **Giugno**
* i valori contenuti nella serie devono essere valori casuali compresi tra **15 e 30**

In [8]:
g = np.random.default_rng(0)
s = Series(g.integers(15,30,10))
s

0    27
1    24
2    22
3    19
4    19
5    15
6    16
7    15
8    17
9    27
dtype: int64

## Le Series: parametri del costruttore

<img src="Figures/InteractiveDoc.jpg" style="width:950px;height:350px;" />

* per ottenere informazioni sui parametri del costruttore: premere **Shift + TAB**
* viene visualizzato ogni parametro insieme ad un valore **di default**, utilizzato se non si formisce alcun valore del parametro attuale
* ogni parametro che ha un valore di default, è, per definizione, **opzionale**

## Le Series: indicizzazione

* ogni elemento della Series è identificato da un  **indice numerico**, che è l'indice di default

In [9]:
s.index

RangeIndex(start=0, stop=10, step=1)

* ma è anche possibile settare esplicitamente un **label index**, ad esempio  indicizzare la serie rispetto ai mesi in cui sono avvenute le valutazioni

In [10]:
s.index='Set Ott Nov  Dic Gen Feb Mar Apr Mag Giu'.split()
s

Set    27
Ott    24
Nov    22
Dic    19
Gen    19
Feb    15
Mar    16
Apr    15
Mag    17
Giu    27
dtype: int64

## Le Series: indicizzazione

* possibile anche specificare il **label index** direttamente nel costruttore

In [11]:
months='Set Ott Nov  Dic Gen Feb Mar Apr Mag Giu'.split()
s=Series(g.integers(15,30,10), index=months)
s

Set    24
Ott    28
Nov    22
Dic    24
Gen    29
Feb    25
Mar    24
Apr    23
Mag    23
Giu    29
dtype: int64

## Series:"under the wood"

* *Pandas* delega la memorizzazione dei **valori** contenuti in una Series a **NumPy**
  * utilizza *ndarray*: struttura dati di *NumPy* usata per rappresentare matrici (a sua volta utilizza routine C) 
  * scopo: utilizzare le operazioni vettoriali di *NumPy*, molto efficienti
     * *Series* come wrapper di oggetti *NumPy* 
  *  invece, gli attributi degli indici sono memorizzati in un oggetto **index** di **Pandas** 
* una *Series* è quindi un oggetto che ne contiene altri due

## Series: "under the wood"

* verifichiamo che la series memorizza i suoi valori in un array **NumPy**
* gli attributi possono essere utilizzati per analizzare come è strutturato un oggetto 
* analizziamo gli attributi della serie e vediamo come l'indice sia un tipo definito da **Pandas**

In [12]:
print(s.values)
type(s.values)

[24 28 22 24 29 25 24 23 23 29]

numpy.ndarray

In [13]:
print(s.index)
type(s.index)

Index(['Set', 'Ott', 'Nov', 'Dic', 'Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu'], dtype='object')

pandas.core.indexes.base.Index

## Series: creazione a partire da oggetti Python

* una serie può essere creata a partire da  oggetti *Python*, in maniera diretta o indiretta. 
* **dizionari**:
    * per ogni chiave del dizionario, una corrispondente label della serie
* **tuple** 
    * indice posizionale e label coincidono
* **array NumPy**
* un **set** non definisce un ordinamento: occorre convertirlo in una struttura dati che definisce un ordinamento

## Series:  data selection dictionary-like

In [14]:
import pandas as pd
population_dict = {'India': 1366417754,
                   'India': 1466428893,
                   'China': 1397715000,
                   'USA': 328239523,
                   'England': 55977200,
                   'Russia': 143666931,
                   'Japan':126264931}
population = Series(population_dict)
print(population)

India      1466428893
China      1397715000
USA         328239523
England      55977200
Russia      143666931
Japan       126264931
dtype: int64

## Series: statistiche

In [15]:
print(f'Media delle valutazioni: {s.mean()}')

Media delle valutazioni: 25.1

* diversi tipi di aggregazioni
    * somma
    * media
    * mediana
    * deviazione standard
    * percentili

## Series: indexers, loc e iloc

In [16]:
Regions = Series(['Toscana', 'Sicilia', 'Puglia', 'Sardegna'],  
                 index=[2,4,6,8]) 
print(Regions[2])

Toscana

In [17]:
print(Regions[1])

KeyError: 1

## Series: indexers, loc e iloc

* per evitare ambigità Pandas introduce due *indexers attribute* che indicano esplicitamente quale tipo di access si vuole utilizzare
    * accesso per label: **loc**
    * accesso diretto **iloc**

In [18]:
Regions = Series(['Toscana', 'Sicilia', 'Puglia', 'Sardegna'],  index=['2','4','6','8']) 
print(Regions.loc['2'])

Toscana

In [19]:
Regions = Series(['Toscana', 'Sicilia', 'Puglia', 'Sardegna'],  index=['2','4','6','8']) 
print(Regions.iloc[2])

Puglia

## Series: slicing

* supponiamo di voler calcolare la media delle valutazioni nei primi 5 mesi e nei secondi 5 mesi
* possiamo utlizzare il meccanismo dello **slicing** anche sulle serie e sia per gli inidici numerici che per gli indici posizionali

In [20]:
s.iloc[:5].mean()

25.4

In [21]:
s.iloc[5:].mean()

24.8

In [22]:
s.loc['Set':'Gen'].mean()

25.4

## Series: indici non univoci

* creazione di una serie con label ripetute 
* considereremo le temperature di febbraio (non bisestile) e indicizzeremo la serie con i giorni della settimana (ripetuti)

In [ ]:
g = np.random.default_rng(0)
days='Dom Lun Mar Mer Gio Ven Sab'.split()
s= Series(g.normal(20,5,28),index=days*4)
s

## Series: indici non univoci

In [ ]:
s.loc['Lun']

In [ ]:
s.loc['Lun'].mean()

* è possibile anche selezionare alcuni elementi di una serie indicando una lista di indici

In [ ]:
s = Series([10, 20, 30, 40, 50])
s.iloc[[2,4]]

## Series: mask index, selezionare valori con espressioni booleane

* selezione di righe mediante lista di booleani
* alternativa al classico **for** + **espressione  booleana**

In [ ]:
s = Series([10, 20, 30, 40, 50])
s.iloc[[True, True, False, False, True]]

## Series: mask index, selezionare valori con espressioni booleane

In [ ]:
s.loc[s<30]

* l'espressione  tra parentesi quadre restituisce una **serie di booleani**
* la serie di booleani viene quindi applicata alla serie s per selezionare gli elementi

<center>
<img src="Figures/BooleanIndexes.jpg" style="width:600px;height:300px;"/>

## Series: mask index, selezionare valori con espressioni booleane

In [ ]:
s.loc[s<=s.mean()]

* la serie s appare 3 volte nella espressione
    * calcolo della media
    * broadcast operation: confronto di ogni valore con la media
    * applicazione della serie booleana risultante a s

## Series: dtype

* indica il tipo degli oggetti contenuti nella serie
* molti tipi di dato sono implementati da **NumPy** ed utilizzati da Pandas, ma esistono anche tipi di dato definiti da **Pandas**
* NumPy **dtype**:
  * **Integers** di diverse dimensioni **np.int8**, **np.int16**, **np.int32**, **np.int64**
  * **Unsigned** integers di diverse dimensioni  **np.uint8**, **np.uint16**, **np.uint32**, **np.uint64**
  * **Floats** of diverse dimensioni **np.float16**, **np.float32**, **np.float64**.
  * **Objects** oggetti Python
* se si crea una serie
  * se tutti i valori sono interi, **dtype** è impostato a **np.int64**
  * se almeno un valore è un float, **dtype** è impostato a **np.float**
  * altrimenti, **dtype** è impostato a **object**

## Series: dtype overriding

In [ ]:
s = Series([10, 20, 30], dtype=np.float32)
s

* importante scegliere il tipo più adatto specialmente quando si lavora con datset grandi

In [ ]:
s = s.astype(np.int64)
s.dtype

## Series: vectorized operations

In [ ]:
s1 = Series([10,20,30,40],index=list('abcd'))
s2 = Series([100,200,300,400],index=list('dcba'))
s1+s2

<center>
<img src="Figures/Vectorization.jpg" style="width:400px;height:400px;"/>

## Series: broadcast

* operazione su una serie e su uno scalare
* applica lo scalare ad ogni elemento della serie
* mantiene tutti gli indici della serie di partenza
* +10 a tutte le valutazioni dello studente

In [ ]:
s+10

## Series: scalare le valutazioni, aggregazione e broadcast
* supponiamo la media M delle valutazioni di tutti gli studenti sia stata 25 
* calcolare la differenza tra le valutazioni dello studente e M e aggiungerla ad ogni valutazione
* nella stessa funzione **aggregazione** e **broadcast**

In [ ]:
g = np.random.default_rng(0)
s = Series(g.integers(18,30,10))
s+(25-s.mean())

## Importare un data set in una Series da un file CSV

* **csv**: un formato semplice, testuale, utilizzato per scambiare dati
* plain-text usato per rappresentare dati tabulari
* la prima riga contiene i nomi delle colonne della tebella
* ogni riga contiene un numero finito di elementi che corrispondono alle diverse colonne 
* ogni elemento separato dal successivo da una virgola
* può essere creato a partire da un file **Excel**

<img src="Figures/FileCSV.jpg" style="width:500px;height:300px;" />

## La prima analisi di un dataset reale: corse di taxi a New York
* un dataset contenente diverse informazioni sulle corse dei taxi a New York
* il primo dataset contiene, per ogni corsa, i passeggeri

In [ ]:
s=pd.read_csv('DataSets/taxi-passenger-count.csv',header=None).squeeze()

* la lettura di un file *csv* restituisce sempre un **DataFrame**
* se il dataset contiene una sola colonna, trasformarlo in  una Series, utlilizzando  **squeeze**
* la prima riga non contiene i nomi di colonna **header==None**

## La prima analisi di un dataset reale: corse di taxi a New York

In [ ]:
s.value_counts()

* **value_counts()** restituisce una **Series** in cui i label indexes sono i valori distinti in **s** e i corrispondenti valori rappresentano la frequenza dil valore dell'indice nel dataset
* i valori sono ordinati

In [ ]:
s.value_counts()[[3,4]]

## La seconda analisi di un dataset reale: categorizzazione dei dati

In [ ]:
import pandas as pd
s=pd.read_csv('DataSets/taxi-distance.csv',header=None).squeeze()
s

* il secondo dataset contiene la distanza percorsa da ogni corsa. 
* categorizzare i valori numerici in tre categorie di viaggi
    * **short**, < 2 km
    * **medi**, >= 2 km, ma <10km
    * **lunghi**, > 10 km

## La seconda analisi di un dataset reale: categorizzazione dei dati

In [ ]:
categories =s.astype(str)
categories.loc[:]='medium'
categories.loc[s<2]='short'
categories.loc[s>10]='long'
categories

## Modifica di una serie
* in generale un metodo che modifica una serie ne costruiscono una nuova

In [ ]:
s.head(3)

In [ ]:
s.sort_values().head(3)

In [ ]:
s.head(3)

## Un DataSet di temperature minime

* descrive le temperature minime della città di Melbourne (Australia)
* considerati **10 anni (1981-1990)**
* rilevazioni giornaliere
* sorgente dei dati: *Australian Bureau of Meteorology*
* file: **daily-min-temperatures.csv**

<img src="Figures/TempMinMelb.jpg" style="width:300px;height:400px;" />

## Importare un DataSet: la funzione read_csv

In [ ]:
from pandas import read_csv
from matplotlib import pyplot
DF = read_csv('DataSets/daily-min-temperatures.csv', parse_dates=True)
print(type(DF))
DF

* per default, *Pandas* ricerca il dataset nella stessa directory del Notebook
* il DataSet è importato, per default,  in una struttura dati a due dimensioni, il **DataFrame**, che vedremo successivamente

## Importare un DataSet in una Series: trasformare le date

```
read_csv('daily-min-temperatures.csv', parse_dates=True)
```

* il parametro *parse_dates* converte tutte gli elementi della colonna Date  del file in un oggetto *datetime*

In [ ]:
StringSeries = pd.Series(['10/25/2005','10/29/2002','01/01/2001'])
print(StringSeries)

In [ ]:
DateSeries=pd.to_datetime(StringSeries)
print(DateSeries)

## Lavorare con le date

* *Pandas* contiene la libreria *datetime* che consente di manipolare oggetti di tipo *data*
* diversi usi
    * time series analysis
    * data filtering in base a specifici intervalli di tempo
    * calcolare differenza tra due date
    * raggruppare in base a mese, giorno,...
* lo utilizzeremo spesso nel corso
* **strftime**:un esempio di funzione  utile

## Lavorare con le date

In [ ]:
from datetime import datetime
d = datetime.now().date()
print(d)
print(type(d))

# get weekday
print(d.strftime('%w'))
print(d.strftime('%A'))

## Importare un DataSet in una Series: la funzione read_csv

In [ ]:
from pandas import read_csv
from matplotlib import pyplot
temp_series = read_csv('DataSets/daily-min-temperatures.csv', 
                       index_col='Date', parse_dates=True).squeeze('columns')
type(temp_series)
temp_series

* **squeeze** : qui il dataset ha più colonne: come trasformarlo in una **Series**?
* una delle colonne contenute nel file **csv** diventa il **label index**: la indico con **index_col**

## Statistiche descrittive

In [ ]:
temp_series.nunique()

* restituisce il numero di valori diversi contenuti nella serie
* se un valore compare più di una volta, il valore è contato una sola volta

In [ ]:
temp_series.value_counts(ascending=True)

* conta il numero di occorrenze di ogni valore della **Series**
* restituisce una **Series** in cui l'**index label** sono i valori delle temperature e i valori sono le rispettive occorrenze nella serie

## Statistiche descrittive

In [ ]:
temp_series.describe()

## Il DataSet delle temperature minime: visualizzazione

In [ ]:
temp_series.plot()
pyplot.show()

* per default utilizzato un *line plot*

## Il DataSet delle temperature minime: visualizzazione

In [ ]:
temp_series.plot(style='k.')
pyplot.show()

## Il DataSet delle temperature minime: visualizzazione

In [ ]:
temp_series.hist()
pyplot.show()

## Il DataSet delle temperature minime: visualizzazione

In [ ]:
from pandas.plotting import lag_plot
lag_plot(temp_series)
pyplot.show()

## Il DataSet delle temperature minime: lag_plot

* visualizza se i valori di una time-series siano random o meno
* dati random non mostrano una struttura identificabile nel lag-plot
* dati non-random mostrano una struttura identificabile

<center>
<img src="Figures/LagPlot2.jpg" style="width:400px;height:200px;" />
<img src="Figures/LagPlot1.jpg" style="width:400px;height:200px;" />

## Il DataSet delle temperature minime: confronto tra anni

In [ ]:
from pandas import Grouper
import matplotlib.pyplot as plt
groups = temp_series.groupby(Grouper(freq='YE'))
for name, group in groups:
    print(name)
    print(group)
    print(type(group))

## Il DataSet delle temperature minime: confronto tra anni

In [ ]:
fig, axs =plt.subplots(nrows=10,ncols=1,sharex=True)
fig.subplots_adjust(hspace=0)
i=0
for name, group in groups:
    axs[i].plot(group.values)
    axs[i].set_yticks(())
    axs[i].set(ylabel=name.year)
    i=i+1

## Il DataSet delle temperature minime: heatmap
* asse x giorni, asse y anni, colore della map più freddo o caldo, a seconda della temperatura
* necessario rappresentare i dati come una matrice **NumPy**

In [ ]:
import numpy as np
list=[]
for name, group in groups:
   groupnp=group.to_numpy()
   list.append(groupnp)
matrix=np.asmatrix(list)
print(matrix)
dimensions=np.shape(matrix)
print(dimensions)

## Il DataSet delle temperature minime: heatmap

In [ ]:
import seaborn as sns
sns.heatmap(matrix, cmap='coolwarm')

* visualizzare in una heatmap le rivazioni di temperatura
* asse x giorni, asse y anni, colore della map più freddo o caldo, a seconda della temperatura

## Il DataSet delle temperature minime: anno 1990, confronto tra i mesi

In [ ]:
one_year = temp_series['1990']
one_year_groups = one_year.groupby(Grouper(freq='ME'))
list_month=[]
for name, group in one_year_groups:
   months_np=group.to_numpy()
   for i in range(len(months_np),31):
        months_np= np.append(months_np,-1)
   list_month.append(months_np)
   matrix=np.asmatrix(list_month)
dimensions=np.shape(matrix)
print(dimensions)

## Il DataSet delle temperature minime: anno 1990, confronto tra i mesi

In [ ]:
sns.heatmap(matrix, cmap='coolwarm')

## Applicare una funzione ad ogni valore in una Series

* funzioni sono *first class objects* in Python
* possono essere passate come argomento di un'altra funzione
* le *Series* definiscono un metodo **apply** 
    * riceve in input il nome di una funzione
    * applica il nome di quella funzione a tutti i valori della serie

In [ ]:
series.apply(func = round)

* ha modificato tutti glie elementi della serie approssimando all'intero superiore

## Assignment 5

In [ ]:
superheroes =[ "Batman",
             "Superman",
             "Spider.man",
             "Iron-Man",
             "Captain America",
             "Wonder Woman"
]
strenght_levels = (100, 120, 90, 95, 110, 120)

* utilizzare le lista di superheroes per popolare un oggetto di tipo *Series*
* utilizzare la tupla di strenght_levels per popolare un oggetto di tipo *Series*
* creare una *Series* con i *superheroes* come index labels e *strength_level* come valore. Assegnare la *Series* alla variabile *heroes*
* estrarre i primi due elementi e gli ultimi due elementi della *Series* *heroes*
* determinare il numero di valori unici di *heroes*
* calcolare la forza media, la massima e la minima di *heroes*
* duplicare il livello di forza di ogni *superhero* 
* convertire la *Series* *heroes* in un dizionario *Python*

## Assignment 6

* E' dato il *dataset revolutionary_war.csv* che contiene diverse battaglie combattute durante la Rivoluzione Americana, con la descrizione del nome della 
battaglia, la data di inizio, lo stato in cui si è combattuta
* uno storico è interessato a conoscere in quale giorno della settimana sono iniziate il maggior numero di Battaglie durante la rivoluzione
* importare il dataset in una *series* trascurando le colonne che si riferiscono al nome della Battaglia e allo stato, e
mantenendo solo la colonna che riguarda la data di inizio della battaglia
* lavorare sulla *series* risultante